# 50M CLK Pin
NET "CLK_50M" LOC = T8;

PIN "PLL14/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;

# KEY Pin
//NET "key[3]" LOC = L3;
//NET "key[2]" LOC = L4;
//NET "key[1]" LOC = M3;
//NET "key[0]" LOC = L5;
//NET "key" LOC = L5;
NET "reset" LOC = H2 | IOSTANDARD = "LVCMOS33" | CLOCK_DEDICATED_ROUTE = FALSE;

# VGA
NET "VGA_HSYNC" LOC = B6;
NET "VGA_VSYNC" LOC = A6;

NET "VGA_R[0]" LOC = D11;
NET "VGA_R[1]" LOC = C11;
NET "VGA_R[2]" LOC = A4;
NET "VGA_R[3]" LOC = A5;
NET "VGA_R[4]" LOC = B5;

NET "VGA_G[0]" LOC = F9;
NET "VGA_G[1]" LOC = E10;
NET "VGA_G[2]" LOC = D9;
NET "VGA_G[3]" LOC = C9;
NET "VGA_G[4]" LOC = E11;
NET "VGA_G[5]" LOC = C10;

NET "VGA_B[0]" LOC = F7;
NET "VGA_B[1]" LOC = C7;
NET "VGA_B[2]" LOC = E7;
NET "VGA_B[3]" LOC = D8;
NET "VGA_B[4]" LOC = E8;

# PS2
NET "PS2_KBCLK" LOC = C6 | IOSTANDARD = "LVCMOS33";
NET "PS2_KBDAT" LOC = D6 | IOSTANDARD = "LVCMOS33";

NET "tape_in" LOC = R14 | IOSTANDARD = "LVCMOS33";

# on board LEDs
NET led<0> LOC = P6 | IOSTANDARD = "LVCMOS33";       ## LED1
NET led<1> LOC = M6 | IOSTANDARD = "LVCMOS33";       ## LED2
NET led<2> LOC = M4 | IOSTANDARD = "LVCMOS33";       ## LED3
NET led<3> LOC = E4 | IOSTANDARD = "LVCMOS33";       ## LED4

## full 16 bit on empty EEPROM with sigrok
NET "usb_dbg[15]" LOC = J13 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[14]" LOC = K14 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[13]" LOC = K12 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[12]" LOC = K15 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[11]" LOC = K16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[10]" LOC = J16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[9]" LOC = H16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[8]" LOC = H15 | IOSTANDARD = "LVCMOS33";
## only low 8 bit for saleae logic
NET "usb_dbg[7]" LOC = F16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[6]" LOC = F15 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[5]" LOC = E16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[4]" LOC = E15 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[3]" LOC = B16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[2]" LOC = C15 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[1]" LOC = C16 | IOSTANDARD = "LVCMOS33";
NET "usb_dbg[0]" LOC = D16 | IOSTANDARD = "LVCMOS33";

##################################################################################
#SRAM pin define
##################################################################################

NET SRAM_A<18>	LOC =  L16 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<17>	LOC =  R9  | IOSTANDARD = "LVCMOS33";
NET SRAM_A<16>	LOC =  L14 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<15>	LOC =  T12 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<14>	LOC =  L13 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<13>	LOC =  M11 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<12>	LOC =  M16 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<11>	LOC =  L10 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<10>	LOC =  N9  | IOSTANDARD = "LVCMOS33";
NET SRAM_A<9>	LOC =  M10 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<8>	LOC =  P11 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<7>	LOC =  M15 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<6>	LOC =  N16 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<5>	LOC =  M14 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<4>	LOC =  M13 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<3>	LOC =  P16 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<2>	LOC =  P15 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<1>	LOC =  R16 | IOSTANDARD = "LVCMOS33";
NET SRAM_A<0>	LOC =  N14 | IOSTANDARD = "LVCMOS33";

NET SRAM_D<7>	LOC =  N8  | IOSTANDARD = "LVCMOS33";
NET SRAM_D<6>	LOC =  P8  | IOSTANDARD = "LVCMOS33";
NET SRAM_D<5>	LOC =  M7  | IOSTANDARD = "LVCMOS33";
NET SRAM_D<4>	LOC =  N12 | IOSTANDARD = "LVCMOS33";
NET SRAM_D<3>	LOC =  N6  | IOSTANDARD = "LVCMOS33";
NET SRAM_D<2>	LOC =  T15 | IOSTANDARD = "LVCMOS33";
NET SRAM_D<1>	LOC =  R15 | IOSTANDARD = "LVCMOS33";
NET SRAM_D<0>	LOC =  L12 | IOSTANDARD = "LVCMOS33";

NET SRAM_WE		LOC =  P12 | IOSTANDARD = "LVCMOS33";
NET SRAM_OE		LOC =  P9  | IOSTANDARD = "LVCMOS33";
NET CStop		LOC =  M9  | IOSTANDARD = "LVCMOS33";
NET CSdown		LOC =  L7  | IOSTANDARD = "LVCMOS33";

## uSD card
NET SD_clk                	LOC = N4 | IOSTANDARD = "LVCMOS33";     ## CLK/SCK
NET SD_cs                	LOC = N5 | IOSTANDARD = "LVCMOS33";     ## DAT3/CS
NET SD_datain              LOC = P4 | IOSTANDARD = "LVCMOS33";     ## CMD/DI
NET SD_dataout             LOC = M5 | IOSTANDARD = "LVCMOS33";     ## DATA0/DO 

## DAC output
NET OUT_L             LOC = T13 | IOSTANDARD = "LVCMOS33";
NET OUT_R             LOC = R12 | IOSTANDARD = "LVCMOS33";
